@{
    Layout = "_Layout";
ViewData["Title"]="داشبورد";
}
  <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-lg-8 mb-4">
                                <div class="card h-100">
                                    <div class="card-header d-flex justify-content-between pb-0">
                                        <div class="card-title mb-0">
                                            <h5 class="mb-0">گزارش پروندها</h5>
                                            <small class="text-muted">7 روز گذشته</small>
                                        </div>
                                        <div class="dropdown">
                                            <button aria-expanded="false" aria-haspopup="true" class="btn p-0"
                                                data-bs-toggle="dropdown" id="supportTrackerMenu" type="button">
                                                <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                                            </button>
                                            <div aria-labelledby="supportTrackerMenu"
                                                class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="javascript:void(0);">موارد بیشتر</a>
                                                <a class="dropdown-item" href="javascript:void(0);">حـذف</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                                                <div class="mt-lg-4 mt-lg-2 mb-lg-4 mb-2 pt-3">
                                                    <h1 class="mb-0 lh-80p">164</h1>
                                                    <p class="mb-0">پرونده های دریافنی </p>
                                                </div>
                                                <ul class="p-0 m-0">
                                                    <li class="d-flex gap-3 align-items-center mb-lg-3  pb-1">
                                                        <div class="badge rounded bg-label-primary p-1">
                                                            <i class="ti ti-ticket ti-sm"></i>
                                                        </div>
                                                        <div>
                                                            <h6 class="mb-0 text-nowrap">پرونده های ارسال نشده</h6>
                                                            <small class="text-muted">142</small>
                                                        </div>
                                                    </li>
                                                    <li class="d-flex gap-3 align-items-center   pb-1">
                                                        <div class="badge rounded bg-label-info p-1">
                                                            <i class="ti ti-circle-check ti-sm"></i>
                                                        </div>
                                                        <div>
                                                            <h6 class="mb-0 text-nowrap">نقص پرونده</h6>
                                                            <small class="text-muted">28</small>
                                                        </div>
                                                    </li>
                                                    <li class="d-flex gap-3 align-items-center pb-1">
                                                        <div class="badge rounded bg-label-warning p-1">
                                                            <i class="ti ti-clock ti-sm"></i>
                                                        </div>
                                                        <div>
                                                            <h6 class="mb-0 text-nowrap">ارسالی</h6>
                                                            <small class="text-muted">1 روز</small>
                                                        </div>
                                                    </li>
                                                    <li class="d-flex gap-3 align-items-center pb-1">
                                                        <div class="badge rounded bg-label-warning p-1">
                                                            <i class="ti ti-clock ti-sm"></i>
                                                        </div>
                                                        <div>
                                                            <h6 class="mb-0 text-nowrap">تکمیل شده</h6>
                                                            <small class="text-muted">1 روز</small>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                                                <div id="supportTracker"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">عملیات</h5>
                                    </div>
                                    <button class="btn btn-twitter waves-effect waves-light mb-3">
                                        جزییات
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>