@{
    Layout = "_Layout";
    ViewData["Title"]="اطلاعات تکمیلی";
}
    <div class="container-xxl flex-grow-1 container-p-y">

                        <!-- Ajax Sourced Server-side -->
                        <div class="card">
                            <h5 class="card-header">اطلاعات تکمیلی</h5>
                            <div class="card-datatable text-nowrap">
                                <table class="datatables-ajax table">
                                    <thead>
                                        <tr>
                                            <th>نام بیمه گذار</th>
                                            <th>شماره رسید</th>
                                            <th>نوع هزینه</th>
                                            <th>تاریخ هزینه </th>
                                            <th>مبلغ هزینه</th>
                                            <th>وضعیت</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!--/ Ajax Sourced Server-side -->
                    </div>