@{
    Layout = "_Layout";
    ViewData["Title"] = "اطلاعات تکمیلی";
}
@* <div class="container-xxl flex-grow-1 container-p-y"> *@
    <div class="card">
        <div class="card-datatable table-responsive">
            <table class="dt-responsive table" id="damage_file_id">
                @* <table class="  table  dt-responsive" id="damage_file_id"> *@
                <thead>
                <tr>
                    <th></th>
                    <th>نام قرارداد</th>
                    <th>نام بیمه گذار</th>
                    <th>شماره رسید</th>
                    <th>نوع هزینه</th>
                    <th>تاریخ هزینه</th>
                    <th>مبلغ هزینه</th>
                    <th>وضعیت</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
@* </div> *@
@section js{
    <script type="text/javascript" src = "../../assets/js/pages-js/details/app-details-list.js"></script>
}