
@{
    Layout = "_Layout";
    ViewData["Title"] = "鬲睾乇 乇夭 毓亘乇";
}

<div class="container flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-12 mb-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-1">鬲睾乇 乇夭 毓亘乇 </h4>
                </div>
                <div class="card-body">
                    <!-- Reset Password -->
                    <div class="mb-3" id="formAuthentication">
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="oldPassword">乇夭 毓亘乇 毓</label>
                            <div class="input-group input-group-merge">
                                <input aria-describedby="password" class="form-control"
                                       id="oldPassword" name="oldPassword" placeholder="路路路路路路路路路路路路" type="password"/>
                                <span class="input-group-text cursor-pointer">
                                    <i class="ti ti-eye-off"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="newPassword">乇夭 毓亘乇 噩丿丿</label>
                            <div class="input-group input-group-merge">
                                <input aria-describedby="password" class="form-control"
                                       id="newPassword" name="newPassword" placeholder="路路路路路路路路路路路路" type="password"/>
                                <span class="input-group-text cursor-pointer">
                                    <i class="ti ti-eye-off"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="confirmPassword">鬲丕丿 讴 毓亘乇</label>
                            <div class="input-group input-group-merge">
                                <input aria-describedby="password" class="form-control" id="confirmPassword"
                                       name="confirmPassword" placeholder="路路路路路路路路路路路路" type="password"/>
                                <span class="input-group-text cursor-pointer">
                                    <i class="ti ti-eye-off"></i>
                                </span>
                            </div>
                        </div>
                        <button class="btn btn-primary me-2" id="btn-change-password">亘乇夭乇爻丕 乇夭</button>
                    </div>
                    <!-- /Reset Password -->
                </div>
            </div>
        </div>
    </div>
</div>
@section js{
    <script src="../../assets/js/pages-js/changePassword/changePassword.js"></script>
}