
@{
    Layout = "_Layout";
}
  <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-lg-12 mb-12">

                                <div class="card">
                                    <div class="card-header">
                                        <!-- Logo -->
                                        <div class="app-brand mb-4" style="flex-direction: column ;">
                                            <span class="app-brand-logo demo">
                                                <img src="/assets/img/Logo/Logo.png">
                                                </a>
                                        </div>
                                        <!-- /Logo -->
                                        <h4 class="mb-1">鬲睾乇 乇夭 毓亘乇 </h4>
                                    </div>
                                    <div class="card-body">

                                        <!-- Reset Password -->

                                        <form action="auth-login-cover.html" class="mb-3" id="formAuthentication"
                                            method="GET">
                                            <div class="mb-3 form-password-toggle">
                                                <label class="form-label" for="password">乇夭 毓亘乇</label>
                                                <div class="input-group input-group-merge">
                                                    <input aria-describedby="password" class="form-control"
                                                        id="Oldpassword" name="Oldpassword" placeholder="路路路路路路路路路路路路"
                                                        type="password" />
                                                    <span class="input-group-text cursor-pointer">
                                                        <i class="ti ti-eye-off"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="mb-3 form-password-toggle">
                                                <label class="form-label" for="password">乇夭 毓亘乇 噩丿丿</label>
                                                <div class="input-group input-group-merge">
                                                    <input aria-describedby="password" class="form-control"
                                                        id="password" name="password" placeholder="路路路路路路路路路路路路"
                                                        type="password" />
                                                    <span class="input-group-text cursor-pointer">
                                                        <i class="ti ti-eye-off"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="mb-3 form-password-toggle">
                                                <label class="form-label" for="confirm-password">鬲丕丿 讴
                                                    毓亘乇</label>
                                                <div class="input-group input-group-merge">
                                                    <input aria-describedby="password" class="form-control"
                                                        id="confirm-password" name="confirm-password"
                                                        placeholder="路路路路路路路路路路路路" type="password" />
                                                    <span class="input-group-text cursor-pointer">
                                                        <i class="ti ti-eye-off"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary d-grid w-100 mb-3">鬲丕丿 乇夭
                                                毓亘乇</button>
                                            
                                        </form>
                                        <!-- /Reset Password -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>